.nav-item {
    color: red;
  }
  
  .navRight {
    margin-left: 30%;
  }
  
  .navbar {
    background-color: #285167;
  }
  
  @media (max-width: 767px) {
    /* Screen size less than or equal to 767px (md) */
    .navRight {
      margin-left: 80%;
    }
  }
  